<!DOCTYPE html>
<html th:replace="~{templates/layout :: layout(~{::title}, ~{::body}, ~{})}" xmlns:th="http://www.thymeleaf.org">
<head>
  <title th:text="#{contact.title}">Contact</title>
</head>
<body>
<h1 th:text="#{contact.title}">Contact</h1>
<form method = "post" th:action="@{/contacts}">

      <label th:for="title" th:text="#{contact.form.title}">Title</label>
      <input type="text" th:name="title" class="form-control" />
  
      <label th:for="message" th:text="#{contact.form.message}">Message</label>
      <textarea th:name="message" class="form-control" ></textarea>
  
      <input type="submit" value="Save" th:attr="value=#{contact.form.submit}" class="btn btn-primary"/>	

</form>
</body>
</html>