<!DOCTYPE html>
<html th:replace="~{templates/layout :: layout(~{::title}, ~{::body}, ~{})}" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title th:text="#{user.new.title}"></title>
</head>
<body>
<h1 th:text="#{user.new.title}"></h1>
<div class="row">
    <div class="col-md-6 col-md-offset-3">
        <form th:method="POST" th:action="@{/users}" enctype="utf8">

            <label th:for="username" th:text="#{user.form.name}"></label>
            <input type="text" th:name="name" class="form-control" />

            <label th:for="email" th:text="#{user.form.email}"></label>
            <input type="email" th:name="email" class="form-control" />

            <label th:for="password" th:text="#{user.form.password}"></label>
            <input type="password" th:name="password" class="form-control" />

            <label th:for="password" th:text="#{user.form.confirmation}"></label>
            <input type="confirmpassword" th:name="confirmpassword" class="form-control" />

            <input type="submit" value="Sign up" th:attr="value=#{user.new.title}" class="btn btn-primary"/>
        </form>
    </div>
</div>
</body>
</html>