<!DOCTYPE html>
<html
	th:replace="~{templates/layout :: layout(~{::title}, ~{::body}, ~{})}"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{user.show.title}">User Info</title>
</head>
<body>

	<table style="width: 70%">
		<tr>
			<th><a href=https://www.w3schools.com/tags/tag_a.asp><img style="width: 70%; height: auto;" th:if="${user.attached}" th:src="${#viewSupport.getImageUrl(user.image)}" alt=""></th>
			<th>[[${user.name}]]</th>
			<th>Birthday: [[${user.dateOfBirth}]]</th>
			<th><a href=https://www.w3schools.com/tags/tag_a.asp>Edit
					Profile</a></th>
			<th><a href=https://www.w3schools.com/tags/tag_a.asp><img
					src="https://www.flaticon.com/svg/static/icons/svg/181/181540.svg"
					width="50" height="90"></a></th>
		</tr>
		<tr>
			<td></td>
			<td>[[${user.reviewNumbers}]] Review Posts</td>
			<td><a href=https://www.w3schools.com/tags/tag_a.asp>[[${user.followers}]]
					Followers</a></td>
			<td><a href=https://www.w3schools.com/tags/tag_a.asp>[[${user.followings}]]
					Following</td>
		</tr>
	</table>
	<div class="row">
		<aside class="col-md-4">
			<section class="user_info">
				<th:block th:if="${user != null}">
					<!-- <h1>
						[[${user.name}]] <br> [[${user.dateOfBirth}]] <br>
						[[${user.reviewNumbers}]] <br> [[${user.followers}]] <br>
						[[${user.followings}]]
					</h1> -->
					
										<form th:method="POST" th:action="@{/blackList}">
						<input type="hidden" th:name="review_id" th:value="${1}" />
						<input type="submit" value="BlackList" th:attr="value=#{user.blackList}"
							class="btn btn-primary" />
					</form>

<form th:action="@{/comments/add}" method="post" th:object="${comment}">
  <input type="hidden" name="reviewId" value="${review.content}">
  <label for="fname">Comment</label>
  <input type="text" th:field="*{content}" class="form-control">
  <p style="color: red" th:if="${#fields.hasErrors('content')}" th:errors="*{content}" class="error">Please input something!</p>
  <input type="submit" value="Submit">
</form>
<ul>
<li th:each="comment: ${comments}">[[${comment.content}]]</li>
</ul>

				</th:block>
			</section>
		</aside>
	</div>
	
</body>
</html>