<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="userDao" class="alpos.dao.imp.UserDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="bookDao" class="alpos.dao.imp.BookDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="authorDao" class="alpos.dao.imp.AuthorDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="categoryDao" class="alpos.dao.imp.CategoryDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="publisherDao" class="alpos.dao.imp.PublisherDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="reviewDao" class="alpos.dao.imp.ReviewDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>

	<bean id="relationshipDao"
		class="alpos.dao.imp.RelationshipDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
	<bean id="blackListDao" class="alpos.dao.imp.BlackListDAOImp">
		<property name="hibernateTemplate" ref="hibernateTemplate" />
	</bean>
</beans>